.sppb-addon.sppb-addon-tab.customized-tab ul {

  width: 50%;

  float: left;

  display: inline-block;

}

.sppb-addon.sppb-addon-tab.customized-tab .sppb-addon-content.sppb-tab {

  flex-direction: row;

}

.sppb-addon.sppb-addon-tab.customized-tab .sppb-tab-content.sppb-tab-modern-content {

  display: inline-block;

  float: right;

  width: 50%;

}

.sppb-addon.sppb-addon-tab.customized-tab ul li {

  border: none;

  width: 48%;

  display: inline-block;

  float: left;

}
